<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
    <div class="container">
        Angular Cropper JS
    </div>
</mat-toolbar>

<div class="bg-blue-700 text-blue-50">
    <div class="container py-10 flex">
        <div>
            <div class="font-medium text-4xl">Cropper.js</div>
            <div class="pt-2 text-lg">JavaScript image cropper with Angular powers</div>
        </div>

        <div></div>
    </div>
</div>

<div class="container flex gap-10 pt-10">
    <div class="flex-1 flex flex-col gap-4">
        <angular-cropper
            #cropper
            [imageUrl]="'https://fengyuanchen.github.io/cropperjs/images/picture.jpg'"
        ></angular-cropper>

        <!--CROPPER CONTROLS-->
        <div class="flex flex-wrap justify-center items-center gap-2">
            <button
                mat-button
                (click)="zoomIn()"
                class="mat-icon-button"
            >
                <mat-icon>zoom_in</mat-icon>
            </button>

            <button
                mat-button
                (click)="zoomOut()"
                class="mat-icon-button"
            >
                <mat-icon>zoom_out</mat-icon>
            </button>

            <button
                mat-button
                (click)="goLeft()"
                class="mat-icon-button"
            >
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>

            <button
                mat-button
                (click)="goRight()"
                class="mat-icon-button"
            >
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>

            <button
                mat-button
                (click)="goUp()"
                class="mat-icon-button"
            >
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>

            <button
                mat-button
                (click)="goDown()"
                class="mat-icon-button"
            >
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>

            <button
                mat-button
                (click)="reset()"
                class="mat-icon-button mat-primary"
            >
                <mat-icon>cached</mat-icon>
            </button>
        </div>
    </div>
</div>