/* You can add global styles to this file, and also import other style files */
/* @tailwind base; */
/* @tailwind utilities; */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
